.main_intro{
    @include flex(wrap, column, center, center);
    margin-top: 3.125rem;
    h1{
        font-family: $font_u;
        color: $c_gris_claro;
    }
}
.main_about_me{
    @include flex(wrap, row, space-evenly, center);
    margin-top: 3.875rem;
    img{
        width: 18.75rem;
    }
}
.about_parrafo{
    @include flex(wrap, column, center, center);
    gap: .9375rem;
    p{
        font-family: $font_zkgn;
        width: 18.75rem;
        color: $c_white;
    }
}
