.fade-in {
    opacity: 10;
    animation: fadeAnimation 2s ease-in-out infinite;
    -webkit-animation: fadeAnimation 2s ease-in-out infinite;
}
@keyframes fadeAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}